<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory="var/phpunit-cache"
         colors="true"
         executionOrder="depends,defects">
    <php>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="APP_DEBUG" value="1" force="true"/>
        <server name="KERNEL_CLASS" value="App\Discovering\Kernel" force="true"/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
        <testsuite name="Contract">
            <directory>tests/Contract</directory>
        </testsuite>
        <testsuite name="Behavioral">
            <directory>tests/Behavioral</directory>
        </testsuite>
    </testsuites>
</phpunit>
